*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:cursive;
}



.logo{
    width: 50px;
}

.backGround{
    height: 100vh;
    background-image:url(images/back.jpg);
    background-position:center;
    background-size: cover;
    position: relative;
}




.write{
    font-size: large;
    font-weight: bolder;
}

.cars{   
    width: 400px;
    height: 350px;
    position: absolute;
    margin-left: 50%;
    
    
}